a {
  color: white;
  text-decoration: none;
}
.card-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.btn {
  margin-top: 10px;
  padding: 6px 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 14px 24px;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: white;
}

/* underline animata */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.avatar{
  width:30px;
  height:30px;
  background-color: green;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}